body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nerko_One", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Nerko_one, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

@font-face {
  font-family: "Roboto";
}

:root {
  --font-Nerko-One: "Sans Serif";
}

.fontClass {
  font-family: var(--font-Nerko-One);
}

div {
  margin: 10px;
}